.inner-wrapper
  .col-12
    %h2.self-link-parent
      %span.sectioncount
        2.20
        %a{:name => "2.20"}
      License and Legal Terms
      %a.self-link{:href => "license.html#2.20", :title => "link to here"}
        %svg.self-link{:height => "20", :viewbox => "0 0 1792 1792", :width => "20"}
          %path{:d => "M1520 1216q0-40-28-68l-208-208q-28-28-68-28-42 0-72 32 3 3 19 18.5t21.5 21.5 15 19 13 25.5 3.5 27.5q0 40-28 68t-68 28q-15 0-27.5-3.5t-25.5-13-19-15-21.5-21.5-18.5-19q-33 31-33 73 0 40 28 68l206 207q27 27 68 27 40 0 68-26l147-146q28-28 28-67zm-703-705q0-40-28-68l-206-207q-28-28-68-28-39 0-68 27l-147 146q-28 28-28 67 0 40 28 68l208 208q27 27 68 27 42 0 72-31-3-3-19-18.5t-21.5-21.5-15-19-13-25.5-3.5-27.5q0-40 28-68t68-28q15 0 27.5 3.5t25.5 13 19 15 21.5 21.5 18.5 19q33-31 33-73zm895 705q0 120-85 203l-147 146q-83 83-203 83-121 0-204-85l-206-207q-83-83-83-203 0-123 88-209l-88-88q-86 88-208 88-120 0-204-84l-208-208q-84-84-84-204t85-203l147-146q83-83 203-83 121 0 204 85l206 207q83 83 83 203 0 123-88 209l88 88q86-88 208-88 120 0 204 84l208 208q84 84 84 204z", :fill => "navy"}
    %table.colsi
      %tbody
        %tr
          %td#wg
            %a{:_target => "blank", :href => "http://www.hl7.org/Special/committees/fiwg/index.cfm"}
              FHIR Infrastructure
              %img{:src => "/images/external.png", :style => "text-align: baseline"}/
            Work Group
          %td#fmm
            %a{:href => "versions.html#maturity"}> Maturity Level
            \: N/A
          %td#ballot
            %a{:href => "versions.html#std-process"}> Standards Status
            \:
            / !ns!
            %a{:href => "versions.html#std-process"} Informative
    %a{:name => "disclaimer"}
    %h3.self-link-parent
      %span.sectioncount 2.20.1
      Disclaimer and Warning of Use
      %a.self-link{:href => "license.html#disclaimer", :title => "link to here"}
        %svg.self-link{:height => "20", :viewbox => "0 0 1792 1792", :width => "20"}
          %path{:d => "M1520 1216q0-40-28-68l-208-208q-28-28-68-28-42 0-72 32 3 3 19 18.5t21.5 21.5 15 19 13 25.5 3.5 27.5q0 40-28 68t-68 28q-15 0-27.5-3.5t-25.5-13-19-15-21.5-21.5-18.5-19q-33 31-33 73 0 40 28 68l206 207q27 27 68 27 40 0 68-26l147-146q28-28 28-67zm-703-705q0-40-28-68l-206-207q-28-28-68-28-39 0-68 27l-147 146q-28 28-28 67 0 40 28 68l208 208q27 27 68 27 42 0 72-31-3-3-19-18.5t-21.5-21.5-15-19-13-25.5-3.5-27.5q0-40 28-68t68-28q15 0 27.5 3.5t25.5 13 19 15 21.5 21.5 18.5 19q33-31 33-73zm895 705q0 120-85 203l-147 146q-83 83-203 83-121 0-204-85l-206-207q-83-83-83-203 0-123 88-209l-88-88q-86 88-208 88-120 0-204-84l-208-208q-84-84-84-204t85-203l147-146q83-83 203-83 121 0 204 85l206 207q83 83 83 203 0 123-88 209l88 88q86-88 208-88 120 0 204 84l208 208q84 84 84 204z", :fill => "navy"}
    %p
      FHIR Resource definitions developed by HL7 are derived from the considerable collective
      experience of the HL7 membership and wide community feedback from the development and
      application of a spectrum of health care interoperability solutions.  However, Resource
      definitions are generalized to support multiple contexts of use. It is the responsibility
      of the persons or organizations using these Resources to ensure their use is fit for the
      particular purpose in which they are used, including validation for clinical and operational use.
    %a{:name => "ballotstatus"}
    %p
      See also the specific warnings associated with
      = succeed "." do
        %a{:href => "todo.html"} use of the STU
    %a{:name => "license"}
    %h3.self-link-parent
      %span.sectioncount 2.20.2
      FHIR License
      %a.self-link{:href => "license.html#license", :title => "link to here"}
        %svg.self-link{:height => "20", :viewbox => "0 0 1792 1792", :width => "20"}
          %path{:d => "M1520 1216q0-40-28-68l-208-208q-28-28-68-28-42 0-72 32 3 3 19 18.5t21.5 21.5 15 19 13 25.5 3.5 27.5q0 40-28 68t-68 28q-15 0-27.5-3.5t-25.5-13-19-15-21.5-21.5-18.5-19q-33 31-33 73 0 40 28 68l206 207q27 27 68 27 40 0 68-26l147-146q28-28 28-67zm-703-705q0-40-28-68l-206-207q-28-28-68-28-39 0-68 27l-147 146q-28 28-28 67 0 40 28 68l208 208q27 27 68 27 42 0 72-31-3-3-19-18.5t-21.5-21.5-15-19-13-25.5-3.5-27.5q0-40 28-68t68-28q15 0 27.5 3.5t25.5 13 19 15 21.5 21.5 18.5 19q33-31 33-73zm895 705q0 120-85 203l-147 146q-83 83-203 83-121 0-204-85l-206-207q-83-83-83-203 0-123 88-209l-88-88q-86 88-208 88-120 0-204-84l-208-208q-84-84-84-204t85-203l147-146q83-83 203-83 121 0 204 85l206 207q83 83 83 203 0 123-88 209l88 88q86-88 208-88 120 0 204 84l208 208q84 84 84 204z", :fill => "navy"}
    %p
      Copyright © 2011+ HL7.
    %p
      This specification (specifically the set of materials included in the fhir-spec.zip file available from the
      Downloads page of this specification) is produced by HL7 under the terms of HL7®
      %a{:href => "http://www.hl7.org/documentcenter/public_temp_4108B35F-1C23-BA17-0C38BD44A97683FB/membership/HL7_Governance_and_Operations_Manual.pdf"}
        Governance and Operations Manual
        %img{:src => "/images/external.png", :style => "text-align: baseline"}/
      relating to Intellectual Property (Section 16), specifically its copyright, trademark and patent provisions.
    %p
      This document is licensed under Creative Commons "No Rights Reserved" (
      %a{:href => "http://creativecommons.org/publicdomain/zero/1.0/"}>
        CC0
        %img{:src => "/images/external.png", :style => "text-align: baseline"}/
      ).
    %p
      HL7®, HEALTH LEVEL SEVEN®, FHIR® and the FHIR
      = succeed "\u{ae}" do
        %img{:src => "/images/icon-fhir-16.png", :style => "float: none; margin: 0px; padding: 0px; vertical-align: bottom"}/
    %h4.self-link-parent
      %span.sectioncount
        2.20.2.1
        %a{:name => "2.20.2.1"}
      Additional information about the license
      %a.self-link{:href => "license.html#2.20.2.1", :title => "link to here"}
        %svg.self-link{:height => "20", :viewbox => "0 0 1792 1792", :width => "20"}
          %path{:d => "M1520 1216q0-40-28-68l-208-208q-28-28-68-28-42 0-72 32 3 3 19 18.5t21.5 21.5 15 19 13 25.5 3.5 27.5q0 40-28 68t-68 28q-15 0-27.5-3.5t-25.5-13-19-15-21.5-21.5-18.5-19q-33 31-33 73 0 40 28 68l206 207q27 27 68 27 40 0 68-26l147-146q28-28 28-67zm-703-705q0-40-28-68l-206-207q-28-28-68-28-39 0-68 27l-147 146q-28 28-28 67 0 40 28 68l208 208q27 27 68 27 42 0 72-31-3-3-19-18.5t-21.5-21.5-15-19-13-25.5-3.5-27.5q0-40 28-68t68-28q15 0 27.5 3.5t25.5 13 19 15 21.5 21.5 18.5 19q33-31 33-73zm895 705q0 120-85 203l-147 146q-83 83-203 83-121 0-204-85l-206-207q-83-83-83-203 0-123 88-209l-88-88q-86 88-208 88-120 0-204-84l-208-208q-84-84-84-204t85-203l147-146q83-83 203-83 121 0 204 85l206 207q83 83 83 203 0 123-88 209l88 88q86-88 208-88 120 0 204 84l208 208q84 84 84 204z", :fill => "navy"}
    %ul
      %li FHIR is © and ® HL7. The right to maintain FHIR remains vested in HL7
      %li You can redistribute FHIR
      %li You can create derivative specifications or implementation-related products and services
      %li You can't claim that HL7 or any of its members endorses your derived [thing] because it uses content from this specification
      %li Neither HL7 nor any of the contributors to this specification accept any liability for your use of FHIR
      %li You cannot publish an altered version of the FHIR specification unless it clearly identifies that it is a derivative specification, not FHIR itself
      %li Derivative Specifications cannot redefine what conformance to FHIR means
      %li
        HL7 is not responsible for either identifying patents for which a license may be required to implement FHIR® or for conducting inquiries into the legal validity or scope of those patents that are brought to its attention (section 16.03.04,
        = succeed ")\"" do
          %a{:href => "http://www.hl7.org/documentcenter/public_temp_4108B35F-1C23-BA17-0C38BD44A97683FB/membership/HL7_Governance_and_Operations_Manual.pdf"}
            Governance and Operations Manual
            %img{:src => "/images/external.png", :style => "text-align: baseline"}/
    %p
      While HL7 places no restrictions on the right to copy the FHIR
      specification or to create derivative works per the Creative Commons license, HL7 protects the "FHIR"
      trademark carefully. This means that:
    %ul
      %li
        You can use the trademarks "FHIR" and the
        %a{:href => "icon-pack.zip"}
          %img{:src => "/images/icon-fhir-16.png", :style => "float: none; margin: 0px; padding: 0px; vertical-align: bottom"}/
          logo
        to refer the FHIR specification itself (nominatively, or under the terms of
        %a{:href => "https://en.wikipedia.org/wiki/Fair_use_(U.S._trademark_law)"}
          fair use
          %img{:src => "/images/external.png", :style => "text-align: baseline"}/
      %li When referencing the FHIR® standard in a website, document, presentation, or otherwise, please in a place of prominence refer to it as the "HL7® FHIR® standard".  In subsequent uses, please refer to it as the "FHIR® standard" or "FHIR®", using the ® symbol as often as is practical, at least once on each page of printed matter, generally in connection with the first or dominant usage.
      %li
        When using the
        = succeed "," do
          %a{:href => "icon-pack.zip"}
            %img{:src => "/images/icon-fhir-16.png", :style => "float: none; margin: 0px; padding: 0px; vertical-align: bottom"}/
            logo
      %li
        All non-trademark uses of the foregoing marks should include the ® symbol and indicate in text that:
        %br/
        "HL7, FHIR and the FHIR [FLAME DESIGN] are the registered trademarks of Health Level Seven International and their use does not constitute endorsement by HL7."
      %li
        Use of Health Level Seven International trademarks in URL domains or to brand your product or service without the express written consent of Health Level Seven International is strictly prohibited.
        See application forms for consent to use the trademark "FHIR" in an
        %a{:href => "http://www.fhir.org/community-license"}
          event name
          %img{:src => "/images/external.png", :style => "text-align: baseline"}/
        or a
        %a{:href => "http://www.fhir.org/product-license"}
          product name
          %img{:src => "/images/external.png", :style => "text-align: baseline"}/
        (including domain names)
    %p
      Trademark FAQs are posted on the
      = succeed "." do
        %a{:href => "http://www.hl7.org/legal/trademarks.cfm"}
          HL7 International website
          %img{:src => "/images/external.png", :style => "text-align: baseline"}/
      %a{:href => "mailto:HL7trademarks@HL7.org"} HL7trademarks@HL7.org
      for more information.
    %h3.self-link-parent
      %span.sectioncount
        2.20.3
        %a{:name => "2.20.3"}
      Third-party artifacts and terminologies
      %a.self-link{:href => "license.html#2.20.3", :title => "link to here"}
        %svg.self-link{:height => "20", :viewbox => "0 0 1792 1792", :width => "20"}
          %path{:d => "M1520 1216q0-40-28-68l-208-208q-28-28-68-28-42 0-72 32 3 3 19 18.5t21.5 21.5 15 19 13 25.5 3.5 27.5q0 40-28 68t-68 28q-15 0-27.5-3.5t-25.5-13-19-15-21.5-21.5-18.5-19q-33 31-33 73 0 40 28 68l206 207q27 27 68 27 40 0 68-26l147-146q28-28 28-67zm-703-705q0-40-28-68l-206-207q-28-28-68-28-39 0-68 27l-147 146q-28 28-28 67 0 40 28 68l208 208q27 27 68 27 42 0 72-31-3-3-19-18.5t-21.5-21.5-15-19-13-25.5-3.5-27.5q0-40 28-68t68-28q15 0 27.5 3.5t25.5 13 19 15 21.5 21.5 18.5 19q33-31 33-73zm895 705q0 120-85 203l-147 146q-83 83-203 83-121 0-204-85l-206-207q-83-83-83-203 0-123 88-209l-88-88q-86 88-208 88-120 0-204-84l-208-208q-84-84-84-204t85-203l147-146q83-83 203-83 121 0 204 85l206 207q83 83 83 203 0 123-88 209l88 88q86-88 208-88 120 0 204 84l208 208q84 84 84 204z", :fill => "navy"}
    %p
      The HL7 FHIR specification contains and references intellectual property owned by third parties ("Third Party IP").
      Acceptance of these License Terms does not grant any rights with respect to Third Party IP.
      The licensee alone is responsible for identifying and obtaining any necessary licenses or authorizations to utilize
      Third Party IP in connection with the specification or otherwise.
    %p
      Following is a non-exhaustive list of third-party artifacts and terminologies that may require a separate license:
    %a{:name => "loinc"}
    %table.grid
      %tbody
        %tr
          %td
            %b Artifact/Terminology
          %td
            %b Statement/Owner/Contact
        %tr
          %td SNOMED CT
          %td
            International Healthcare Terminology Standards Developing Organization (
            %a{:href => "http://snomed.org"}>
              IHTSDO
              %img{:src => "/images/external.png", :style => "text-align: baseline"}/
            ).
            %br>/
            This specification includes content from SNOMED CT, which is copyright © 2002+ International Health Terminology Standards Development Organisation (IHTSDO) and distributed by agreement between IHTSDO and HL7. Implementer use of SNOMED CT is not covered by this agreement
        %tr
          %td DICOM
          %td
            National Electrical Manufacturers Association (
            %a{:href => "http://dicom.nema.org/"}>
              NEMA
              %img{:src => "/images/external.png", :style => "text-align: baseline"}/
            ).
            %br>/
            This specification includes content from DICOM, which is copyright NEMA, and distributed by agreement between NEMA/DICOM and HL7. Implementer use of DICOM is not covered by this agreement
        %tr
          %td Logical Observation Identifiers Names &amp; Codes (LOINC)
          %td
            This material contains content from LOINC® (
            %a{:href => "http://loinc.org"}>
              http://loinc.org
              %img{:src => "/images/external.png", :style => "text-align: baseline"}/
            ). The LOINC table, LOINC codes, and
            LOINC panels and forms file are copyright © 1995-2014, Regenstrief Institute, Inc. and the Logical Observation Identifiers
            Names and Codes (LOINC) Committee and available at no cost under the license at
            = succeed "." do
              %a{:href => "http://loinc.org/terms-of-use"}
                http://loinc.org/terms-of-use
                %img{:src => "/images/external.png", :style => "text-align: baseline"}/
        %tr
          %td International Classification of Diseases (ICD) codes
          %td
            Consult the World Health Organization (
            %a{:href => "http://who.int"}>
              WHO
              %img{:src => "/images/external.png", :style => "text-align: baseline"}/
            )
        %tr
          %td Current Procedures Terminology (CPT) code set
          %td
            American Medical Association (
            %a{:href => "http://www.ama-assn.org/"}>
              AMA
              %img{:src => "/images/external.png", :style => "text-align: baseline"}/
            )
            %br>/
            CPT copyright 2014 American Medical Association. All rights reserved.
