%tr.segment{:id => row_id}
  %td
    - icons.each do |file_name|
      %img{:src => "images/#{file_name}"}
    %img{:src => "images/#{icon}"}  
    %img{:src => "images/icon_reference.png"}
    %a{:href => seg_url}
      = code
  %td.centered
    = cardinality
  %td.centered
    = must_implement
  %td.centered
    = status
