%tr.segment.segment_choice{:id => row_id}
  %td
    - icons.each do |file_name|
      %img{:src => "images/#{file_name}"}
    %img{:src => "images/#{icon}", :onclick => 'tableRowAction(this)'} 
    %img{:src => "images/icon_choice.gif"}
      %b
        = name
  %td.centered
    = cardinality
  %td.centered
    = must_implement
  %td.centered
    = status
= segment_rows
