.container
  %h1.self-link-parent.v2
    Welcome to HL7 v2+&#153; - HL7 v2 refactored
  %p{:style => "background-color: gold; border:1px solid maroon; padding: 5px;;"}
    This is the working draft for what is preliminary called
    %b HL7v2+
  - # %h1.self-link-parent.v2
  - #   Welcome to HL7 v2+&#153; - HL7 v2 refactored
  %p HL7 v2+ is a standard for health care data exchange, built as a successor of HL7 v2.x, and published by HL7®.
  #v2-homepage-message
    %p
      %a{:href => "#notes_to_balloters"} Notes to Balloters
  #diagram
    %p.level-text
      %a{:href => "#{links[:intro]}"}
        %b Introduction to the HL7 v2+ Standard
    %p.content
      %a{:href => "#{links[:toc]}"} Table of Contents
    %p.level-text
      %b
        Level 1
      Basic framework on which the specification is built.
    #foundation.box_row.box_more
      .box{:id => ""}
        %p.head
          %a{:href => "#{links[:foundation]}", :style => "background-image: url('images/foundation.png');"}
            Foundation
        %p.content
          %span
            %a{:href => "#{links['Control']}"}
              Control
            (Messaging)
      #encoding.box
        %p.head
          %a{:href => "#{links['Encoding']}", :style => "background-image: url('images/workflow.png');"}
            %span Encoding
        %p.content
          %a{:href => "#{links[:ams]}"}
            Abstract Message Syntax (AMS)
          %br
          %a{:href => "#{links[:encoding_rules]}"}
            Encoding Rules 7 (ER)
          %br
          %a{:href => "#{links[:xml_encoding]}"}
            XML-Encoding (v2.x)ml
      #transport.box
        %p.head
          %a{:href => "#{links[:transport]}", :style => "background-image: url('images/linked-data.png');"}
            Transport
        %p.content
          %a{:href => "#{links[:hllp]}"}
            HLLP
          %br
          %a{:href => "#{links[:mllp]}"}
            MLLP
          %br
          %a{:href => "#{links[:http]}"}
            HTTP
    %p.level-text
      %b Level 2
      Vocabulary
    #terminology.box.box_row.box_one
      %p.head
        %a{:href => "#{links[:terminology]}", :style => "background-image: url('images/terminology.png');"}
          %span Terminology (Tables)
      %p.content
        %a{:href => "#{links[:code_system]}"}
          CodeSystem
        ,&nbsp;
        %a{:href => "#{links[:terminology]}"}
          ValueSet
    %p.level-text
      %b Level 3
      Building Blocks
    #technical.box.box_row.box_one
      %p.head
        %a{:href => "#{links[:linked_data_module]}", :style => "background-image: url('images/index.png');"}
          %span Technical
      %p.content
        %a{:href => "#{links['Data Types']}"} Data Types
        &gt;
        %a{:href => "#{links['Segments']}"} Segments
        &gt;
        %a{:href => "#{links['Message Structures']}"} Message Structures
    %p.level-text
      %b Level 4
      Domains
    #domains.box_row.box_more
      #administrative.box
        %p.head
          %a{:href => "#{links[:admin]}", :style => "background-image: url('images/secpriv.jpg'');"}
            Administrative
        %p.content
          %a{:href => "#{links[:master]}"}
            Master Files
          %br
          %a{:href => "#{links[:queries]}"}
            Queries
          %br
          %a{:href => "#{links[:personnel]}"}
            Personnel Mngmt
          %br
          %a{:href => "#{links[:app_mgmt]}"}
            Appl Mngmt
      #patient.box
        %p.head
          %a{:href => "#{links[:patient]}", :style => "background-image: url('images/administration.jpg'');"}
            Patient
        %p.content
          %a{:href => "#{links[:p_admin]}"}
            ADT
          %br
          %a{:href => "#{links[:p_referral]}"}
            Referral
          %br
          %a{:href => "#{links[:scheduling]}"}
            Scheduling
          %br
          %a{:href => "#{links[:mandm]}"}
            Materials Mngmt
      #financial.box
        %p.head
          %a{:href => "#{links[:financial]}", :style => "background-image: url('images/financial.png');"}
            Financial
        %p.content
          %a{:href => "#{links[:billing]}"}
            Billing
          %br
          %a{:href => "#{links[:claims]}"}
            Claims &amp; Reimbursement
      #clinical.box
        %p.head
          %a{:href => "#{links[:clinical]}", :style => "background-image: url('images/clinical.png');"}
            Clinical
        %p.content
          %a{:href => "#{links[:order_entry1]}"}
            General Orders
          %br
          %a{:href => "#{links[:order_entry1]}"}
            Laboratory Orders
          %br
          %a{:href => "#{links[:order_entry1]}"}
            Dietary Orders
          %br
          %a{:href => "#{links[:order_entry1]}"}
            Supply
          %br
          %a{:href => "#{links[:order_entry2]}"}
            Pharmacy/Treatment
          %br
          %a{:href => "#{links[:lab_auto]}"}
            Lab Automation
      #medication.box
        %p.head
          %a{:href => "#{links[:medical]}", :style => "background-image: url('images/medication.png');"}
            Medical
        %p.content
          %a{:href => "#{links[:p_care]}"}
            Patient Care
          %br
          %a{:href => "#{links[:records]}"}
            Medical Record
    %p.level-text
      %b  
        Level 5
      Conformance
    #conformance.box.box_row.box_one
      - conformance_url = links['Conformance']
      %p.head
        %a{:href => "#{conformance_url}", :style => "background-image: url('images/conformance.jpg'');"}
          Conformance
      %p.content
        - conformance_chapter_links.each do |link, title|
          %a{:href => "#{conformance_url}#{link}"}
            = title.gsub(/\s/,'&nbsp;')
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %p.level-text
      %b
        Level 6
      Implementable Technology Specification
    %p.level-text
      %b
        Level 7
      Core Profiles
    #implementable-technology-specification.box_row.box_more
      .box{:id => 'datatype-flavors'}
        %p.head
          %a{:href => "#{links[:dt_flavors]}", :style => "background-image: url('images/index.png');"}
            Data Type Flavors
        %p.content
        %p.content TBD: This is where profile components like official data type flavors should be listed.
        %p
      .box{:id => 'ig-registry'}
        %p.head
          %a{:href => "#{links[:ig_registry]}", :style => "background-image: url('images/index.png');"}
            Implementation Guide Registry
        %p.content
        %p.content TBD: This is where implementations begin and guides should be listed. Maintaining the implementation guides on this platform will be too tedious, so that a list with hyperlinks should be sufficient.
        %p
  %h1.self-link-parent.v2
    Notes to Balloters
  = notes_to_balloters

    
    
  - # / JS and analytics only.
  - # /
  - #   Analytics Below
  - #   \==================================================
  - # %script{:src => "js/jquery.js"} :cdata
  - # %script{:src => "js/jquery-ui.min.js"} :cdata
  - # 
  - # /
  - #   Bootstrap core JavaScript
  - #   \==================================================
  - # / Placed at the end of the document so the pages load faster
  - # %script{:src => "js/jquery.js"} :cdata
  - # / note keep space here, otherwise it will be transformed to empty tag -> fails
  - # %script{:src => "js/bootstrap.min.js"} :cdata
  - # %script{:src => "js/respond.min.js"} :cdata
  - # %script{:src => "js/fhir.js"} :cdata
  - # /
  - #   Analytics Below
  - #   \==================================================
  - # 
  - # %script{:src => "js/jquery-ui.min.js"} :cdata
  :javascript
    try {
       var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
     } catch(exception){
     }
     if (!currentTabIndex)
       currentTabIndex = '0';
     $( '#tabs-1' ).tabs({
       active: currentTabIndex,
       activate: function( event, ui ) { store(ui.newTab.index()); }
     });
    function store(currentTab) {
      document.activeElement.blur();
      try {
        sessionStorage.setItem('fhir-resource-tab-index', currentTab);
      } catch(exception){
    }
     $( '#tabs' ).tabs('option', 'active', currentTab);
    }
  :javascript
    try {
       var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
     } catch(exception){ 
     }
     if (!currentTabIndex)
       currentTabIndex = '0';
    
    $( '#tabs-Extension' ).tabs({ 
    active: currentTabIndex, 
    activate: function( event, ui ) { store(ui.newTab.index()); } 
    });
    function store(currentTab) {
      document.activeElement.blur();
      try {
        sessionStorage.setItem('fhir-resource-tab-index', currentTab);
      } catch(exception){ 
      }
      $( '#tabs-Extension' ).tabs('option', 'active', currentTab);
    }
