%div{:class => "v2-composition-section-#{depth}", :id => html_id}  
  - if depth == 2
    %h2.v2
      = title
  - if depth == 3
    %h3.v2
      = title
  - if depth == 4
    %h4.v2
      = title
  - if depth == 5
    %h5.v2
      = title
  - if depth == 6
    %h6.v2
      = title
  = content
  %div{:class => "v2-composition-section-#{depth}-subsections"}
    - sections.each do |section|
      = section
