%div.ack-chor-original-mode{:id => "#{html_id}"}
  = "<h#{depth}>Original Mode Acknowledgement Choreography for #{msg_code}</h#{depth}"
    


  / %table.acknowledgment-choreography{:id => html_id}
  /   %caption
  /     =caption_original_mode
  /   %tbody
  /     %tr
  /       %th
  /         Segment
